<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotal | Website</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/user/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/static/user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/user/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/user/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/user/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <!-- <div class="canvas-close"> -->
            <!-- <i class="icon_close"></i> -->
        <!-- </div> -->
        <div class="search-icon  search-switch">
            <i class="icon_search"></i>
        </div>
        <div class="header-configure-area">
            <div class="language-option">
                <img src="/static/img/flag.jpg" alt="">
                <span>EN <i class="fa fa-angle-down"></i></span>
                <div class="flag-dropdown">
                    <ul>
                        <li><a href="#">Zi</a></li>
                        <li><a href="#">Fr</a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="bk-btn">Booking Now</a>
        </div>
        <nav class="mainmenu mobile-menu">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/rooms_us">Rooms</a></li>
                <li><a href="/about_us">About Us</a></li>
                <!-- <li><a href="/page">Pages</a>
                    <ul class="dropdown">
                       <li><a href="./room-details">Room Details</a></li>
                        <li><a href="#">Deluxe Room</a></li>
                        <li><a href="#">Family Room</a></li>
                        <li><a href="#">Premium Room</a></li>
                    </ul>
                </li> -->
                <li><a href="/blog/">News</a></li>
               <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="top-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-tripadvisor"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <ul class="top-widget">
            <li><i class="fa fa-phone"></i> (91) 7823040317</li>
            <li><i class="fa fa-envelope"></i> thombarek362@gmail.com</li>
        </ul>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i>(91) 7823040317</li>
                            <li><i class="fa fa-envelope"></i> thombarek362@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <div class="top-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <!-- <a href="#"><i class="fa fa-tripadvisor"></i></a> -->
                                <a href="https://www.instagram.com/mr_krish_0_007/"><i class="fa fa-instagram"></i></a>
                            </div>
                            <button class="bk-btn border-0" data-toggle="modal" data-target="#myModal" >Booking Now</button>
                            <div class="language-option">
                                <!-- <img src="/static/userimg/flag.jpg" alt=""> -->
                                <!-- <span>EN <i class="fa fa-angle-down"></i></span> -->
                                <!-- <div class="flag-dropdown">
                                    <ul>
                                        <li><a href="#">Zi</a></li>
                                        <li><a href="#">Fr</a></li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="/">
                                <img src="/scatic/user/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class="active"><a href="/">Home</a></li>
                                    <li><a href="/rooms_us">Rooms</a></li>
                                    <li><a href="/about_us">About Us</a></li>
                                    <!-- <li><a href="/page">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="/room-details">Room Details</a></li>
                                            <li><a href="/blog-details">Blog Details</a></li>
                                            <li><a href="#">Family Room</a></li>
                                            <li><a href="#">Premium Room</a></li>
                                        </ul>
                                    </li> -->
                                    <li><a href="/blog/">News</a></li>                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </nav>
                            <div class="nav-right search-switch">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <div class="modal" id="myModal">
 <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                    <div class="booking-form">
                        <h3>Booking Your Hotel</h3>
                        <form action="/save_enquiry/" method="post">
                            {% csrf_token %}
                             <div class="check-date">
                                <label for="guest">Name:</label>
                                <input type="text" name="user_name">
                            </div>
                             <div class="check-date">
                                <label for="guest">Contact:</label>
                                <input type="number" name="mobile_number">
                            </div>
                            <div class="check-date">
                                <label for="date-in">Check In:</label>
                                <input type="date" class="date-input" 
                                name="check_in_date" id="date-in">
                                <!-- <i class="icon_calendar"></i> -->
                            </div>
                            <div class="check-date">
                                <label for="date-out">Check Out:</label>
                                <input type="date" class="date-input"
                                 name="check_out_date" id="date-out">
                                <!-- <i class="icon_calendar"></i> -->
                            </div>
                            <div class="check-date">
                                <label for="guest">Guests:</label>
                                <input type="number" name="guests" class="date-inpu" value="1">
                            </div>
                            <div class="select-option">
                                <label for="room">Room:</label>
                                <select id="room" name="room">
                                    {% for i in rooms %}
                                    <option value="{{i.room_name}}">{{i.room_name}}</option>
                                     {% endfor %}
                                    <!-- <option value="">2 Room</option> -->

                                </select>
                            </div>
                            <button type="submit">Save Enquiry</button>
                        </form>
                    </div>
                </div>           </div>


      <!-- Modal footer -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div> -->

    </div>
  </div>
</div>
