{% include "adminapp/navbar.html" %}
<br>

<div class="container" style="padding-left: 20px !important;padding-right: 10px !important;">
	<form action="/admin/save_services/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-12 mb-3">
				<h3>Add Services</h3>
			</div>
			<div class="col-md-6 mb-3">
				Services Image
				<input type="file" name="services_image" accept="image/*" class="form-control">
			</div>
			<div class="col-md-6 mb-3">
				Services Name
				<input type="text" name="services_name" class="form-control">
			</div>
			<div class="col-md-12 mb-3">
				Services Details
				<textarea name="services_details" class="form-control"></textarea>
			</div>
			<div class="col-md-12 mb-3 text-center">
				<button class="btn btn-primary">Save Services</button>
			</div>
		</div>
	</form>
</div>

{% include "adminapp/footer.html" %}
